@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author: Brooke Young
   Date: November 11, 2024     
   
  

*/

* {
    margin-left: 0px;
	margin-right: 0px; 	
    padding-bottom: 10px;
}


body {
    font-size: 1.1em;
    font-family: arial, helvetica, sans-serif;
	background-color: darkolivegreen;
}

#container {
    width: 930px;
    border-width: 0px;
    margin: 0 auto;
    background-color: linen;
}


header {
    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #888888;
    box-shadow: 15px 15px 5px 0 #888888;
    border-radius: 25px;  
	background-color: darkslategray;
	background: linear-gradient(olivedrab, darkolivegreen, sienna); 
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: gray;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: gray;
    border-radius: 10px;
    color: cyan;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: white;
    border-left: 2px solid;
    border-right: 2px solid;    
    background-color:  sienna; 
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
	padding-left: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

aside {
	width: 200px;
    margin: 0 5px 0 5px;	
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
	text-align: center;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}


table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	border-color: #b4b4b4;
}

th, td {
	background-color: #556B2F;
	padding: 5px;
	text-align: center;
}


h3 {
	text-align: center;
	padding-bottom: 0.5em;
}






footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: gray;
    clear: both;
    color: wheat;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}

/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
